@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* common share website  */
body {
  font-family: "Open Sans", sans-serif;
}

main,
nav {
  max-width: 110rem;
  margin: 0 auto;
}

main section {
  margin-top: 13rem;
}

.text-primary {
  color: #fd6e0a;
  text-align: center;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 3rem;
  border: 0;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 2.5rem 0;
}

.para-text {
  color: #757575;
  font-size: 1.5rem;
  font-weight: 400;
}

/* header part style  */
.header {
  height: 100vh;
  background-color: #fff8f3;
  background-image: url("../images/developer.png");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: 3% center;
  overflow: hidden;
}

/* nav style  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 2rem 0;
}

.nav-title {
  font-size: 3.5rem;
  font-weight: 800;
  color: #181818;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 5rem;
  color: #474747;
  font-size: 1.5rem;
  font-weight: 400;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* banner style is here  */
.banner {
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-size: auto 70%, auto 100%;
  background-position: right bottom, left top;
  padding: 3rem 3rem 0rem 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.banner img {
  width: 40rem;
}

.banner-content {
  max-width: 500px;
  & button {
    margin-right: 3rem;
  }
}

.btn-primary i {
  margin-right: 1rem;
}

#btn-cotact {
  background-color: transparent;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
}

.banner-greeting {
  color: #474747;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner-title {
  color: #181818;
  font-size: 6.7rem;
  font-weight: 700;
}

.banner-content p {
  margin: 1.8rem 0 2.7rem;
}

/* main section style  */
/* about section style is here */
.about {
  padding: 11rem 14rem;
  border-radius: 1rem;
  background-color: rgba(255, 248, 243, 1);
  text-align: center;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.info-title {
  color: #474747;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 30px;
}

/* what i do section style is here */
#what-i-do-text {
  text-align: center;
  padding: 0 10rem;
}

.skils-container {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.skill {
  padding: 3rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
  color: #181818;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 3rem 0 2rem;
}

/* my resume style is here  */
.resume-container {
  display: flex;
  gap: 5rem;
  margin-top: 10rem;
}

.content-title {
  color: #474747;
  font-size: 2.3rem;
  font-weight: 700;
}

.content-sub-title {
  color: #474747;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  margin: 2.6rem 0 0 0;
}

.edu-institute {
  color: #757575;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.6rem 0 1.6rem;
}

.experience-content hr,
.education-content hr {
  margin-top: 2.6rem;
}

.download-cv {
  text-align: center;
  margin: 5rem 0 10rem;

  & a {
    text-decoration: none;
    color: white;
  }
}

/* footer style is here  */
footer {
  padding: 11rem 20rem;
  background: #fff8f3;
}

.contact {
  display: flex;
  gap: 10rem;
}

.footer-coloum {
  width: 50%;
}

.contact-icons a {
  display: inline-block;
  margin: 3rem 2rem 0 0;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
  border-radius: 5px;
  /* background-color: #fff; */
  display: block;
  border: 0;
  padding: 1.8rem 3rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
